.auth {
  &__outer {
    background: #3c763d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
  }
}

.form {
  &__error {
    height: 50px;
    color: lightcoral;
    text-align: center;
    margin-bottom: 30px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  &__container {
    margin: 0 auto;
    background: #383232;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 10, .1);
    padding: 90px 70px;
  }
  &__input {
    outline: none!important;
    padding: 9px;
    border-radius: 5px;
    border: none;
    min-width: 240px;
  }
  &__label {
    color: white;
    font-size: 15px;
    margin-bottom: 7px;
  }
  &__btn {
    &--wrap {
      display: flex;
    }
    color: white;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px auto;
    background: #1e347b;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    transiton: all .1s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}