.auth {
  &__outer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    background-image: linear-gradient(to right bottom, #2f80ed, #4583e8, #5586e3, #6289dd, #6d8cd8, #8095d9, #919fdb, #a0a9dc, #babde4, #d3d2ed, #eae8f6, #ffffff);
  }
}

.form {
  &__error {
    color: lightcoral;
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  &__container {
    margin: 0 auto;
    background: #383232;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 10, .1);
    padding: 80px 90px;
  }
  &__input {
    outline: none!important;
    padding: 9px;
    border-radius: 5px;
    border: none;
    min-width: 240px;
  }
  &__label {
    color: white;
    font-size: 15px;
    margin-bottom: 7px;
  }
  &__btn {
    &--wrap {
      display: flex;
      justify-content: center;
    }
    color: white;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px auto;
    background: #1e347b;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    transiton: all .1s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}