.user {
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__name {
    user-select: none;
    margin-right: 8px;
    font-weight: 700;
  }
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 27px;
  }
  &__logout {
    border: none;
    outline: none;
    margin-left: 20px;
    border-radius: 15px;
    padding: 11px 15px;
    overflow: hidden;
    background: #1e347b;
    cursor: pointer;
    transition: all .1s ease;
    &:hover {
      opacity: .9;
    }
    &--text {
      color: white;
      font-size: 12px;
      font-weight: 500;
    }
  }
}